.selectContainer {
  position: relative;
  width: 180px;
}

.selected {
  display: grid;
  height: 40px;
  padding-left: 8px;
  border: solid 2px gray;
  font-size: 24px;
  color: gray;
  align-items: center;
}

.options {
  position: absolute;
  width: 180px;
  border: solid 2px gray;
  box-sizing: border-box;
  background-color: #fff;
}

.arrow {
  display: grid;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: solid 2px gray;
  box-sizing: border-box;
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid gray;
}
